# 2. Naloga

## 1. Del

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("input.txt", sep=" ", header = None)
df.head()

   0  1
0  C  Y
1  C  Z
2  C  Z
3  C  Z
4  A  Y

In [21]:
cross_df = pd.crosstab(df[0], df[1]) 
matrix = cross_df.to_numpy()
cross_df

1    X    Y    Z
0
A  177   50  498
B  255   80   51
C  108  360  921

In [30]:
results = np.array([[4,8,3],
          [1,5,9],
          [7,2,6]])
results*matrix

array([[ 708,  400, 1494],
       [ 255,  400,  459],
       [ 756,  720, 5526]], dtype=int64)

In [31]:
my_result = 0;
for x in np.nditer(results*matrix):
    my_result += x
print(my_result)

10718

## 2. del

In [33]:
cross_df

1    X    Y    Z
0
A  177   50  498
B  255   80   51
C  108  360  921

In [34]:
results = np.array([[3,4,8],
          [1,5,9],
          [2,6,7]])

In [35]:
my_result = 0;
for x in np.nditer(results*matrix):
    my_result += x
print(my_result)

14652